@use 'abstracts/_vars';
@use 'abstracts/_mixins';

.card-container {
    width: 300px; 
    height: 500px;
    perspective: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.card {
    @include mixins.design-cards($bg-color: transparent, $b-shadow: transparent, $position: relative, $visible-bf: unset);
    transform-style: preserve-3d;
    transition: transform 0.8s;

    &.flipped {
        transform: rotateY(180deg);
    }
}

.calculator-card-front {
    @include mixins.design-cards($bg-color: vars.$color-primary);

    .title {
        font-family: vars.$font-heading;
        color: vars.$color-title;
        font-size: 40px;
        font-weight: 400;
    }

    p {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
    }

    label {
        font-weight: 300;
    }

    input {
        font-weight: 200;
        height: 36px;
        padding: 12px;
        border: 1px solid vars.$color-input-border;
        border-radius: 6px;
        outline: none;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: vars.$color-secondary;
        }
    }

    .btn-calculator {
        font-size: 1rem;
        font-weight: 300;
        @include mixins.buttons-design($bg-color: vars.$color-accent, $border-color: vars.$color-accent)
    }
}

.result-card-back {
    @include mixins.design-cards($bg-color: vars.$color-primary, $border-rd: 32px 16px);
    transform: rotateY(180deg); 

    .bmi-result {
        font-size: 3rem;
    }

    .bmi-category {
        font-size: 2rem;
    }

    .bmi-category, .bmi-result {
        opacity: 1;
        transition: opacity 1s ease;

        &.hidden {
            opacity: 0;
        }
    }

    .btn-back {
        font-size: 1rem;
        font-weight: 300;
        @include mixins.buttons-design($bg-color: vars.$color-accent, $border-color: vars.$color-accent);
        position: absolute;
        bottom: 25px;
    }
}


