// Cores 
$color-primary: #fff;
$color-secondary: #00e1ff;
$color-accent: rgba(0, 204, 255, 0.49);
$color-text: #333;
$color-title: $color-secondary;

// Cores de estado
$color-input-border: #dee2e6;
$color-error: rgba(255, 0, 0, 0.644); 

// Fontes
$font-body: "Inter", sans-serif;
$font-heading: "Funnel Display", sans-serif;