// Cores
$bg-color: #eee2df;
$calculator-color: #fff;
$text-color: #424242;
$title-color: #00e1ff;
$elements-color: #00ccff7c;

// Tipografia
$text-font: "Inter", sans-serif;
$title-font: "Funnel Display", sans-serif;