// Variáveis e mixins
@use 'abstracts/vars';
@use 'abstracts/_mixins';

// Globais
@use 'base/reset';

// Componentes
@use 'components/cards';

body {
    background: vars.$bg-color;
    font-family: vars.$text-font;
    color: vars.$text-color;
}

input.error {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 0.8em;
    
}

.result-box.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); 
}

