// Variáveis e mixins
@use 'abstracts/vars';
@use 'abstracts/mixins';

// Globais
@use 'base/reset';

// Componentes
@use 'components/cards';

body {
    background: vars.$color-secondary;
    font-family: vars.$font-body;
}

input.error {
    border: 1px solid vars.$color-error;
}

.field-wrapper {
    position: relative;
    margin-bottom: 8px;    

    .error-message {
    position: absolute;   
    top: 110%;             
    left: 0;
    width: 100%;           
    color: vars.$color-error;
    font-size: 0.8em;
    transform: translateY(-0.5rem);
    transition: opacity 0.2s, transform 0.2s;
}
}


.result-box.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); 
}

